* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-style: normal;
  box-sizing: border-box;
  list-style-type: none;
  font-size: 18px;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #e5e5e5;
}
.main-container {
  width: 960px;
  margin: 0 auto;
}
.navbar {
  padding: 0 90px 0 90px;
  display: flex;
  flex-direction: row;
  height: 50px;
  align-items: center;
  color: #ffffff;
  background-color: #4e4e4e;
  justify-content: space-between;
}
.navbar-logo {
  width: 100%;
  font-weight: 700;
  margin: 18px;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  justify-content: space-evenly;
}
a {
  color: #ffffff;
  text-decoration: none;
  font-style: normal;
}
/* .shadow {
  background-image: url(https://placekitten.com/g/1200/700);
  z-index: 1;
} */
.first-section {
  padding: 40px 90px 40px 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  background: url(https://placekitten.com/1200/628);
  color: #ffffff;
  background-size: cover;
}

.first-section-slogan {
  width: 577px;
  height: 46.11px;
  margin-right: 94px;
  font-size: 36px;
  font-weight: 700;
}

.first-section-cta {
  width: 276px;
  height: 23.13px;
  font-weight: 700;
}
.first-section-btn {
  width: 164px;
  height: 40.74px;
  border: 3px solid #ffffff;
  font-weight: 700;
  background: transparent;
  transition-property: all;
  transition-duration: 1s;
  color: #ffffff;
}
.first-section-btn:hover {
  background: white;
  color: black;
}
.second-section {
  padding: 40px 90px 40px 90px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: #f1f1f1;
  align-items: center;
}

.second-section-header {
  width: 100%;
  font-size: 36px;
  font-weight: 700;
  color: #152d41;
}
.second-section-specialists {
  width: 100%;
  height: 100%;
  align-items: center;
}
li {
  display: flex;
  flex-direction: row;
  gap: 60px;
}

ul li:nth-of-type(2n) {
  text-align: right;
}
.second-section-circle-1 {
  width: 197px;
  height: 197px;
  border-radius: 50%;
  padding: 100px;
  background: url(https://placekitten.com/423/430);
  background-position: center;
  background-size: cover;
}
.second-section-circle-2 {
  width: 197px;
  height: 197px;
  border-radius: 50%;
  padding: 100px;
  background: url(https://placekitten.com/426/430);
  background-position: center;
  background-size: cover;
}
.third-section {
  padding: 40px 90px 40px 90px;
  height: 689px;
  background-color: #405d78;
  display: flex;
  flex-direction: column;
}
.third-section-header {
  width: 100%;
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
}
.third-section-boxes-wrapper {
  display: flex;
  width: 100%;
  height: 100%;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
}
.third-section-box {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 198px;
  height: 193.78px;
  background-color: #f1f1f1;
  font-size: 24px;
  text-align: center;
  position: relative;
}
.third-section-box:hover {
  transition-duration: 0.5s;
  transform: scale(1.05);
}
.point {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #e07a64;
  position: absolute;
  top: -4%;
  left: -4%;
}
.footer {
  padding: 0 90px 0 94px;
  display: flex;
  height: 71px;
  align-items: center;
  color: #ffffff;
  background-color: #4e4e4e;
  justify-content: space-between;
}
.footer-copyrights {
  font-style: normal;
  font-weight: 700;
}
.footer-sm-icons {
  display: flex;
  flex-direction: row;
  gap: 16px;
}
.fab {
  color: white;
  font-size: 31px;
}
