* {
  font-family: "Roboto", sans-serif;
  text-decoration: none;
  font-style: normal;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  background-color: #e5e5e5;
}
.main-container {
  width: 960px;
  margin: 0 auto;
}
.navbar {
  padding: 0 94px 0 90px;
  display: flex;
  flex-direction: row;
  height: 50px;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  color: #ffffff;
  background-color: #4e4e4e;
  justify-content: space-between;
}
.navbar-logo {
  width: 100%;
  font-weight: 700;
  margin: 18px;
}
.navbar-menu {
  display: flex;
  flex-direction: row;
  width: 100%;
  list-style-type: none;
  justify-content: space-evenly;
  font-weight: 400;
}
a {
  color: #ffffff;
  text-decoration: none;
  font-weight: 400;
  font-style: normal;
}
.shadow {
  /* background-image: url(https://placekitten.com/g/1200/700);
  z-index: 1; */
}
.first-section {
  padding: 0 94px 0 90px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.15);
  background: url(https://placekitten.com/1200/700);
  color: #ffffff;
  background-size: cover;
}

.first-section-slogan {
  width: 577px;
  height: 46.11px;
  display: flex;
  flex-direction: column;
  margin-right: 94px;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
}

.first-section-cta {
  width: 276px;
  height: 23.13px;
  display: flex;
  flex-direction: column;
  font-size: 18px;
  line-height: 21px;
  font-weight: 700;
}
.first-section-btn {
  width: 164px;
  height: 40.74px;
  display: flex;
  padding: 20px 40px;
  border: 3px solid #ffffff;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
  align-items: center;
  background: transparent;
  transition: 1s;
  color: #ffffff;
}
.btn:hover {
  background: white;
  color: black;
}
.second-section {
  padding: 0 90px 0 94px;
  display: flex;
  height: 553px;
  background-color: #f1f1f1;
}

h2 {
  width: 386px;
  height: 35px;
  display: flex;
  font-size: 36px;
  line-height: 42px;
  font-weight: 700;
  color: #152d41;
}
/* .specialist_list {
  width: 220px;
  height: 220px;
  display: flex;
  flex-direction: row;
  border-radius: 50%;
  background-color: red;
  list-style-type: none;
  padding: 0 90px 0 94px;
} */

.third-section {
  padding: 50px 94px 0 90px;
  height: 689px;
  background-color: #405d78;
}
.third-section-header {
  width: 100%;
  height: 42px;
  display: flex;
  font-size: 36px;
  color: #ffffff;
  font-weight: 700;
}
.third-section-boxes {
  display: flex;
  width: 720px;
  height: 451.17px;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.third-section-box {
  display: flex;
  justify-content: center;
  flex-flow: column wrap;
  width: 198px;
  height: 193.78px;
  background-color: #f1f1f1;
  font-size: 24px;
  text-align: center;
  position: relative;
  font-weight: 400;
}
.third-section-box:hover {
  transition-duration: 0.5s;
  transform: scale(1.05);
}
.point {
  width: 22px;
  height: 22px;
  border-radius: 50%;
  background-color: #e07a64;
  position: absolute;
  top: -4%;
  left: -4%;
}
.footer {
  padding: 0 90px 0 94px;
  display: flex;
  height: 71px;
  align-items: center;
  color: #ffffff;
  background-color: #4e4e4e;
  justify-content: space-between;
}
.footer-copyrights {
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 21px;
}
.footer-sm-icons {
  display: flex;
  flex-direction: row;
  list-style: none;
  gap: 16px;
}
.fab {
  color: white;
  font-size: 31px;
}
